.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight {
  .cm, .c1, .cs, .c, .cd, .ge {font-style: italic;}
  .cp, .cs, .gs, .kc, .kd, .kn, .kp, .kr, .kt, .k, .kv, .nc, .nd, .ne .nf, .nl, .ow, .o {font-weight: bold;}
  .cm, .cp, .c1, .cs, .c, .cd {color: #999988;}
  .gd, .ge, .gi {color: #000000;}
  .gd {background-color: #ffdddd;}
  .err {color: #a61717; background-color: #e3d2d2;}
  .gr, .gt {color: var(--code-d14-dark);}
  .gh, .bp {color: #999999;}
  .gi {background-color: #ddffdd;}
  .go {color: #888888;}
  .gp, .nn {color: var(--code-grey-dark);}
  .gu {color: var(--code-grey-light)}
  .kc, .kd, .kn, .kp, .kr, .k, .kv, .ow, .o {color: var(--code-bold-text-color);}
  .mf, .mh, .il, .mi, .mo, .m, .mb, .mx {color: var(--code-lightblue);}
  .sb, .sc, .sd, .s2, .se, .sh, .si, .sx {color: var(--code-d14);}
  .kt, .nc {color: var(--code-445588);}
  .sr {color: var(--code-009926);}
  .s1, .s {color: #d14;}
  .ss {color: var(--code-990073);}
  .na, .no {color: #008080;}
  .nb {color: #0086B3;}
  .nd {color: var(--code-3c5d5d);}
  .ni {color: var(--code-800080);}
  .ne, .nf, .nl {color: var(--code-990000);}
  .nt {color: var(--code-000080);}
  .vc, .vg, .vi, .nv {color: var(--code-darker-lightblue);}
  .w {color: #bbbbbb;}
}