  // Breakpoints
  $large-breakpoint: 64em;
  $medium-breakpoint: 42em;

// LIGHT

:root {
  // Headers
  --header-heading-color: #fff;
  --header-bg-color: #159957;
  --header-bg-color-secondary: #155799;

  // Text
  --section-headings-color: #159957;
  --body-text-color: #606c71;
  --body-link-color: #1e6bb8;
  --blockquote-text-color: #819198;

  // Code
  --code-bg-color: #f3f6fa;
  --code-text-color: #567482;

  // Borders
  --border-color: #dce6f0;
  --table-border-color: #e9ebec;
  --hr-border-color: #eff0f1;

  // Misilainius
  --bg-color: white;
}

// DARK

@media (prefers-color-scheme: dark) {
  :root {
  // Text
  --section-headings-color: #159957;
  --body-text-color: #ffffff;
  --body-link-color: #1e6bb8;
  --blockquote-text-color: #819198;

  // Code
  --code-bg-color: #2e2e2e;
  --code-text-color: #91c7e0;

  // Borders
  --border-color: #606468;
  --table-border-color: #1b1b1b;
  --hr-border-color: #242424;

  // Misilainius
  --bg-color:rgb(12, 12, 12);
  }
}
